<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
	<meta name="description" content="Parcourir les nouvelles du jour">
	<meta name="keywords" content="presse, articles, media, culture, information, journal, journalisme, quotidien" />
  	<meta name="author" content="Hamidem">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NewsApp</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/ClientApp/styles.css" rel="stylesheet" />
    <link href="~/ClientApp/assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <button onclick="topFunction()" id="myScrollUp" title="Go to top">↑</button>

    <app-root></app-root>

    <hr />
    <div class="col-md-offset-5">
        <h5>&copy; 2017 - <a href="#">News App</a></h5>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/ClientApp/assets/js/news-app-script.js"></script>

    <script src="~/ClientApp/dist/inline.bundle.js"></script>
    <script src="~/ClientApp/dist/polyfills.bundle.js"></script>
    <script src="~/ClientApp/dist/vendor.bundle.js"></script>
    <script src="~/ClientApp/dist/main.bundle.js"></script>

</body>
</html>
